In [1]:
list_1 = [1,50,23,5,8,22,40]

In [4]:
count = 1
for i in range(1,5):
    print(f'The value of i for {count} iteration is {i}')
    count = count+1

The value of i for 1 iteration is 1
The value of i for 2 iteration is 2
The value of i for 3 iteration is 3
The value of i for 4 iteration is 4

In [14]:
5%2

1

In [15]:
35 % 2

1

In [16]:
32 % 2

0

In [20]:
for pal in list_1:
    if pal % 2 == 0:
        print(f'{pal} is an even number')
    else:
        print(f'{pal} is an odd number')

1 is an odd number
50 is an even number
23 is an odd number
5 is an odd number
8 is an even number
22 is an even number
40 is an even number

In [21]:
list_name = ['Harry', 'Paul', 'Roy', 'Sean']

In [22]:
#Write a code(loop) to print the names whose letter count is more than 3 (>=4 or >3). Hint: len()

In [ ]:
for i in list_name:

In [23]:
count = len(list_name)
print(count)

4

In [31]:
for temp in list_name:
    count = len(temp)
    print(f'{count}')

5
4
3
4

In [34]:
for temp in list_name:
    count = len(temp)
    if count >3:
        print(f'{temp} is greater than 3')
    else:
        print (f'{temp} is less than 3')

Harry is greater than 3
Paul is greater than 3
Roy is less than 3
Sean is greater than 3

In [44]:
for i in list_name:
    print(i[-2])

r
u
o
a

In [41]:
var = 'HelloWorld'

In [43]:
var[-2]

'l'

In [ ]:
#Write a function to take a list of words and print the 2nd last letter of every word in the list
list_name2 = ['Harry', 'Paul', 'Roy', 'Sean']

def word_count
for i in list_name:
    print(i[-2])
    
print

In [45]:
def print_out():
    print('hello')

In [46]:
print_out()

hello

In [60]:
abc = 12

def print_out_1(x1):
    x1 = x1+5
    print(x1)

In [61]:
print_out_1(abc)

17

In [64]:
#Write a function to take a list of words and print the 2nd last letter of every word in the list
list_name2 = ['Harry', 'Paul', 'Roy', 'Sean']

def word_count(ab):
    for i in ab:
        print(i[-2])

In [65]:
word_count(list_name2)

r
u
o
a

In [66]:
#take two vars and sum them up using a func
def sum_2(a,b):
    total = a+b
    print(total)

In [67]:
x = 5
z = 8
sum_2(x,z)

13