In [2]:
# Imports
import csv
from dotenv import load_dotenv
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
!pwd

/c/Users/pauli/Fintech-Assignment-1-2020-21/Data

### Gold Commodity

In [3]:
# Reading Gold Returns
filepath_1 = Path("..\\Commodity_Data\\GC_close_prices.csv")
gold_df = pd.read_csv(filepath_1)

#Set Index
gold_df.set_index(pd.to_datetime(gold_df['Date'], infer_datetime_format=True), inplace=True)

In [4]:
#Data Cleaning: Drop Columns
gold_df.drop(columns=['Date','High','Low','Volume', 'Open'], inplace=True)

In [5]:
#Data Cleaning: Rename Columns
gold_df.rename(columns={'Close/Last': 'Gold_Close'}, inplace= True)

In [6]:
#Calculate daily Gold returns
gold_returns = gold_df.pct_change()
gold_returns.rename(columns={'Gold_Close':'Gold_Returns'},inplace = True)

### Silver Commodity

In [4]:
# Reading Silver returns
filepath_2 = Path("..\\Commodity_Data\\SI_close_prices.csv")
silver_df = pd.read_csv(filepath_2)

#Set Index
silver_df.set_index(pd.to_datetime(silver_df['Date'], infer_datetime_format=True), inplace=True)

In [5]:
#Data Cleaning
silver_df.drop(columns=['Date','High','Low','Volume', 'Open'], inplace=True)

In [9]:
#Rename Columns
silver_df.rename(columns={'Close/Last':'Silver_Close'},inplace = True)

In [10]:
#Calculate daily returns
silver_returns = silver_df.pct_change()
silver_returns.rename(columns={'Silver_Close':'Silver_Returns'},inplace = True)

### Returns Df

In [11]:
#Concat Commodity DF
daily_commodity_df = pd.concat([silver_returns, gold_returns], axis="columns", join="inner")
daily_commodity_df.dropna(inplace = True)
daily_commodity_df.sort_index().head()

            Silver_Returns  Gold_Returns
Date
2015-01-30       -0.002493      0.001801
2015-02-02       -0.004041      0.013171
2015-02-03       -0.004254     -0.003321
2015-02-04        0.011572      0.001426
2015-02-05        0.030071      0.022760

In [12]:
daily_commodity_df.to_csv('daily_commodity_df.csv', encoding='utf-8', index=True)

In [13]:
# Set weights
weights = [0.5, 0.5]

# Calculate portfolio weighted return
daily_weighted_returns = daily_commodity_df.dot(weights)
daily_weighted_returns

Date
2020-07-30   -0.022442
2020-07-29    0.023042
2020-07-28   -0.003669
2020-07-27    0.001972
2020-07-24   -0.048498
                ...
2015-02-05    0.026416
2015-02-04    0.006499
2015-02-03   -0.003788
2015-02-02    0.004565
2015-01-30   -0.000346
Length: 1386, dtype: float64

### Monthly Data frame

In [14]:
gold_monthly_close = gold_df.resample('1M').mean()

In [15]:
silver_monthly_close = silver_df.resample('1M').mean()

In [16]:
#Concat Monthly close prices
monthly_close = pd.concat([silver_monthly_close, gold_monthly_close], axis="columns", join="inner")
monthly_close.sort_index().head()

            Silver_Close   Gold_Close
Date
2015-01-31     17.208000  1279.200000
2015-02-28     16.743895  1225.484211
2015-03-31     16.215545  1177.854545
2015-04-30     16.337714  1199.828571
2015-05-31     16.818700  1198.200000

In [17]:
#Calculate monthly returns
monthly_returns = monthly_close.pct_change()
monthly_returns.dropna(inplace = True)
monthly_returns.rename(columns={'Silver_Close':'Monthly_Silver_Return','Gold_Close':'Monthly_Gold_Return'},inplace = True)

In [18]:
# Set weights
weights = [0.5, 0.5]

# Calculate portfolio weighted return
monthly_weighted_returns = monthly_returns.dot(weights)
monthly_weighted_returns

Date
2015-02-28   -0.034481
2015-03-31   -0.035210
2015-04-30    0.013095
2015-05-31    0.014041
2015-06-30   -0.030616
                ...
2020-03-31   -0.082493
2020-04-30    0.045893
2020-05-31    0.047817
2020-06-30    0.047520
2020-07-31    0.115277
Freq: M, Length: 66, dtype: float64

In [19]:
monthly_commodity_df = pd.concat([monthly_close, monthly_returns], axis="columns", join="inner")
monthly_commodity_df

,Silver_Close,Gold_Close,Monthly_Silver_Return,Monthly_Gold_Return
Date,,,,
2015-02-28,16.743895,1225.484211,-0.026970,-0.041992
2015-03-31,16.215545,1177.854545,-0.031555,-0.038866
2015-04-30,16.337714,1199.828571,0.007534,0.018656
2015-05-31,16.818700,1198.200000,0.029440,-0.001357
2015-06-30,16.028045,1181.159091,-0.047010,-0.014222
...,...,...,...,...
2020-03-31,14.918500,1596.859091,-0.163986,-0.001000
2020-04-30,15.293714,1703.266667,0.025151,0.066636
2020-05-31,16.576700,1723.270000,0.083890,0.011744
2020-06-30,17.954591,1743.809091,0.083122,0.011919
2020-07-31,20.947455,1855.172727,0.166691,0.063862

In [20]:
monthly_commodity_df.to_csv('monthly_commodity_df.csv', encoding='utf-8', index=True)