In [1]:
### Initial imports

import json
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
import matplotlib.pyplot as plt
import os

%matplotlib inline
load_dotenv()

True

In [2]:

### Set Alpaca API key and secret
ALPACA_API_KEY = os.getenv("ALPACA_API_KEY")
ALPACA_SECRET_KEY = os.getenv("ALPACA_SECRET_KEY")

alpaca = tradeapi.REST(
    ALPACA_API_KEY,
    ALPACA_SECRET_KEY,
    api_version="v2")
    
#today = pd.Timestamp("2020-07-14", tz="America/New_York").isoformat()
start_1y = pd.Timestamp('2019-08-07', tz='America/New_York').isoformat()
end_1y = pd.Timestamp('2020-08-07', tz='America/New_York').isoformat()


### Set the tickers
tickers = ["SPY"]

### Set timeframe to '1D' for Alpaca API
timeframe = "1D"

### Get current closing prices for AGG and SPY
df_portfolio = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_1y,
    end = end_1y
).df

### Display dataFrame
df_portfolio

                                SPY
                               open      high     low   close     volume
time
2019-08-07 00:00:00-04:00  284.4000  288.8200  282.04  288.03  110389529
2019-08-08 00:00:00-04:00  289.6200  293.5600  289.01  293.55   70688282
2019-08-09 00:00:00-04:00  292.5800  293.2400  289.65  291.59   79060953
2019-08-12 00:00:00-04:00  289.9600  291.6052  287.02  288.10   55499992
2019-08-13 00:00:00-04:00  287.7400  294.1500  287.36  292.43   82355835
...                             ...       ...     ...     ...        ...
2020-08-03 00:00:00-04:00  328.3200  329.6200  327.73  328.76   71741125
2020-08-04 00:00:00-04:00  327.8600  330.0600  327.86  330.03   73684427
2020-08-05 00:00:00-04:00  331.4700  332.3900  331.18  332.06   72846458
2020-08-06 00:00:00-04:00  331.4799  334.4600  331.13  334.31   76900649
2020-08-07 00:00:00-04:00  333.2800  334.8800  332.30  334.55   98710236

[254 rows x 5 columns]

In [10]:

### Set start and end dates of five years back from today.
### Sample results may vary from the solution based on the time frame chosen
start_date = pd.Timestamp('2015-08-07', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2020-08-07', tz='America/New_York').isoformat()

### Get 5 years' worth of historical data for SPY and AGG
df_ticker = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

#df_closing_prices.index = df_closing_prices.index.date
### Display sample data

df_ticker.index = df_ticker.index.date

df_ticker

                 SPY
                open    high     low   close     volume
2015-08-07  208.1600  208.34  206.87  207.93   87669782
2015-08-10  209.2800  210.67  209.28  210.58   66755890
2015-08-11  208.9800  209.47  207.76  208.63   88424557
2015-08-12  207.1100  209.14  205.36  208.89  136171450
2015-08-13  208.7300  209.55  208.01  208.63   77197796
...              ...     ...     ...     ...        ...
2020-08-03  328.3200  329.62  327.73  328.76   89861354
2020-08-04  327.8600  330.06  327.86  330.03   73684427
2020-08-05  331.4700  332.39  331.18  332.06   72941562
2020-08-06  331.4799  334.46  331.13  334.31   76988181
2020-08-07  333.2800  334.88  332.30  334.55   98710236

[1260 rows x 5 columns]

In [9]:
#df_closing_prices = pd.DataFrame()

df_ticker.index = df_ticker.index.date

### Drop the time component of the date
#df_portfolio["SPY"] = df_portfolio["SPY"]["close"]
#df_portfolio.index = df_portfolio.index.date

#spy_close_price = df_closing_prices['SPY'].values[0]

df_ticker

                 SPY
                open    high     low   close     volume
2015-08-07  208.1600  208.34  206.87  207.93   87669782
2015-08-10  209.2800  210.67  209.28  210.58   66755890
2015-08-11  208.9800  209.47  207.76  208.63   88424557
2015-08-12  207.1100  209.14  205.36  208.89  136171450
2015-08-13  208.7300  209.55  208.01  208.63   77197796
...              ...     ...     ...     ...        ...
2020-08-03  328.3200  329.62  327.73  328.76   71741125
2020-08-04  327.8600  330.06  327.86  330.03   73684427
2020-08-05  331.4700  332.39  331.18  332.06   72846458
2020-08-06  331.4799  334.46  331.13  334.31   76900649
2020-08-07  333.2800  334.88  332.30  334.55   98710236

[1260 rows x 5 columns]

In [ ]:
pct_change = df_portfolio.drop=columns([1, 2, 3, 5], inplace=True)

In [ ]:
daily_returns = (pct_change - pct_change.shift(1)) / pct_change.shift(1)
daily_returns.head()